body{
margin:0;
font-family:Arial,sans-serif;
background:#0f172a;
color:white;
}

header{
background:#1e293b;
padding:25px;
text-align:center;
}

.card{
background:#1e293b;
margin:20px;
padding:20px;
border-radius:15px;
}

h2{
margin-top:0;
color:#38bdf8;
}

footer{
text-align:center;
padding:20px;
opacity:.7;
}
